node_modules
.next
out
build
.git
.gitignore
.dockerignore
.firebaserc
apphosting.yaml
firebase.json
*.json
!package.json
!package-lock.json
!tsconfig.json
!next.config.ts
!next.config.js
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
README.md
